/* custom-styles.css */
.ta_wjq {
  display: none !important;
}

.dzq {
  opacity: 0.7 !important;
}

.lynrc {
  display: none !important;
}

.fgg5 {
  background-color: transparent !important;
  background-image: url("https://cdn.jsdelivr.net/gh/LarmaxHarkerX/ys168style@main/01.jpg") !important;
  background-size: cover !important;
  background-position: center !important;
}

.ystop {
  display: none !important;
}
